* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    background-color: rgb(19, 52, 69);
    color:rgb(236, 190, 154);
    font-family: "Goudy Old Style";
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin: auto;
    text-align: center;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    width: 800px;
    margin: auto;
    align-content: center;
    text-align: left;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-color: skyblue;
}

article {
    margin: auto;
    color: black;
    font-family: Calisto MT;
    margin-left: 3px;
    margin-right: 3px;
}

h2, p {
    position: relative;
    align-content: center;
}